.gradient-custom-2 {
    background-image: url(../../assets/light11.jpg);
    background-size: 100% 100%; /* Cover the entire area of the div */
    background-position: center; /* Center the background image */
    border-radius: 5px 0px 0px 5px;
}
